[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
motor = "*"
lyricsfinder = "*"
raven = "*"
dnspython = "*"

[dev-packages]
pipenv = "*"

[requires]
python_version = "3.7"
